.gif {
    margin: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.gif__title{
  text-align: center;
  font-size: .8rem;
  font-weight: 300;
  text-decoration: none;
  color: aliceblue;
}

.gif__img{
  object-fit: cover;
}

.gif__img:hover{
  transform: scale(1.2);
}